<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme"
        tools:targetApi="31">
        <!-- NOTE YOU NEED TO ADD THE THEME! -->
        <activity
            android:name=".views.SignUpActivity"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />
        <activity
            android:name=".views.SignInActivity"
            android:exported="false"
            android:theme="@style/CustomAppTheme" />

<!--        <activity-->
<!--            android:name=".views.SplashActivity"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/CustomAppTheme">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        -->

        <!-- Temporary code block for app dev -->
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:theme="@style/CustomAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sqlite.SqliteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>